@model IEnumerable<Blogg.Models.Yazar>


    <div style="height:300px;width:300px;">
        <h2>@ViewBag.mesaj</h2>
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1" style="color:#A62E5A">Giriş Yap</h4>
            <hr>
            <form role="form" method="post" action="/Yazar/GirisYap">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="Email" class="form-control" placeholder="Email" type="email">
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="Sifre" class="form-control" placeholder="******" type="password">
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn  btn-block" style="background-color:#A62E5A;color:white"> Giriş Yap  </button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="#" class="btn" style="color:#A62E5A">Şifremi Unuttum</a></p>
            </form>
        </article>
    </div>
    <h1 style="color:white">@ViewBag.mesaj</h1>
 <!-- card.// -->
